.DS_Store
**/*.gz
**/*.json
**/*.csv
**/*.tsv
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.txt
**/*.log
**/*.pickle
**/*.npz
**/*.model
**/*.npy
**/results
**/*.pt
**/*.vocab
**/*.pth
**/*.train.*
**/*.test.*
**/*.dev.*
**/Mecab-ko-for-Google-Colab/
**/*.bin
**/*.ttf
**/*.vec
**/*.memmap